<!DOCTYPE html>
<html>
<head>
    <title> The Data Scientist tool - {{name}} </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/Style.css">
</head>
<body>
    <header class="container-fluid ">
        <h1 class="container-fluid text-center"> The data scientist Website </h1>
    </header>
    <nav>
        <ul class="nav justify-content-center">
            {% for elem in ["home", "upload", "univariate", "bivariate"] %}
                <li class="nav-item">
                    <a class="nav-link active" href= {{url_for(elem) }}> {{elem.capitalize()}} </a>
                </li>
            {% endfor %}
            {% for elem in ["supervised_ML", "unsupervised_ML"] %}
                <li class = "nav-item">
                    <a class="nav-link active" href= {{url_for("model_selection", type_model= elem) }}> {{elem.capitalize()}} </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
    <div class="content">
        <h1 class="container-fluid text-center"> {{ name }} </h1>
        {% block body %}
        {% endblock body %}
    </div>
    <footer>
        <div class="align-top">
        <u> Contacts </u> <br>
        Email: <a href= "mailto: pa.heurtebize@gmail.com"> pa.heurtebize@gmail.com </a> <br>
        Linkedin: <a href="https://www.linkedin.com/in/pheurtebize/"> Linkedin Profile </a> <br>
        Phone: +336 95 51 33 53
        </div>


    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>

</html>
