{% extends "layout_visualisation.html" %}

    {% block form %}
        <form method="post" action={{request.path}} enctype="multipart/form-data">
        <p>
            <label for graph_type> Choose graph type </label>
                <select name="graph_type" required>
                    {% for graph in dic_func.keys() %}
                        <option value="{{graph}}">{{graph}}</option>
                    {% endfor %}
                </select>
        </p>

        <label for var_x_1> x axis vars | </label> <label for var_y_1> y axis vars |

        {% set required = "" %}
        {% for nb_row in range(nb_options) %}
            {% if nb_row == 0 %}
                {% set required = "required" %}
            {% endif %}
            <p>
                {% for var in ["var_x_","var_y_"] %}
                    <select name="{{var}}{{nb_row}}" {{required}}>
                        <option selected></option>
                        {% for column in dataset.columns %}
                        <option value="{{column}}">{{column}}</option>
                        {% endfor %}
                    </select>
                {% endfor %}
            </p>
         {% endfor %}
         <p> <input type="submit" value="Validate Selection"> </p>
	    </form>
    {% endblock form %}

    {% block image %}
        <p> <img src={{url_for("static", filename = "images/graph_bivariate.png")}}>   </p>
    {% endblock image %}

    {% block code %}
        {{ code | safe}}
    {% endblock code %}
