{% extends "layout_visualisation.html" %}

    {% block form %}
    <p>
        <label for graph_type> Choose graph type </label>
            <select name="graph_type">
                {% for graph in ["scatterplot", "pointplot_logistic", "countplot"] %}
                    <option value="{{graph}}">{{graph}}</option>
                {% endfor %}
            </select>
    </p>

        <label for var_a_1> x axis vars | </label> <label for var_b_1> y axis vars |  </label>

        {% for nb_row in range(0, nb_options) %}
            <p>
                {% for var in ["var_x_","var_y_"] %}
                    <select name="{{var}}{{nb_row}}">
                            <option selected></option>
                            {% for column in dataset.columns %}
                            <option value="{{column}}">{{column}}</option>
                            {% endfor %}
                    </select>
                {% endfor %}

             </p>
         {% endfor %}
    {% endblock form %}

    {% block image %}
        <p> <img src={{url_for("static", filename = "images/graph_bivariate.png")}}>   </p>
    {% endblock image %}

    {% block code %}
        {{ code | safe}}
    {% endblock code %}
