<!DOCTYPE html>
<html>
	<head>
		<title> The Data Scientist tool - {{name}} </title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Expires" content="0">
	</head>
	<body>

    <p> The current file uploaded is : "{{name_file(session["file_path"])}}" </p>
    <p> {{table_head | safe }}</p>

    <!-- app.py redirect automatically to upload page if no csv file has been uploaded
         Here we will create the form to choose column in the dataset to draw univariate graph from -->

	<form method="post" action={{request.path}} enctype="multipart/form-data">
		{% block form %}
		{% endblock form %}
		<p> <input type="submit" value="Validate Selection"> </p>
	</form>

	{% block image %}
	{% endblock image %}

	<figure>
	<figcaption> Code </figcaption>
			<code>
    {% block code %}
    {% endblock code %}
			</code>
	</figure>

	</body>
</html>