{% extends "base_layout.html" %}
{% block body %}

    {% if session["file_path"] %}
    <div> The following csv file is currently uploaded : <b><u> "{{name_file(session["file_path"])}}" </u></b> </div>
    <div class="table table-dark"> {{table_head | safe}} </div>
    <p> If you'd like to replace it by a new csv file, please <a href={{ url_for("upload")}}> upload a new file </a> </p>
    {% endif %}

	<!-- app.py redirect automatically to upload page if no csv file has been uploaded
	Here we will create the form to choose column in the dataset to draw univariate graph from -->

	{% block form %}
	{% endblock form %}

	{% if request.method == "POST" %}
		{% block image %}
		{% endblock image %}
	{% endif %}

	<figure>
	<figcaption> Code </figcaption>
			<code>
	{% block code %}
	{% endblock code %}
			</code>
	</figure>

{% endblock body %}