{% extends "layout_visualisation.html" %}

{% block form %}
    <div method="post" action= {{url_for("model_parameters")}} enctype="multipart/form-data">
       {% if has_null == True %}
        <b> Your dataset contains null values.</b> You cannot keep NaN values when using Machine learning algorithms. Here are the details : <br>
            {% for column in detail_null[detail_null >0].index %}
                <span> &#8226; {{column}} has {{detail_null[column]}} null values</span> <br>
            {% endfor %}
       {% endif %}
        <br>
       <h4> Are there any columns you'd like to remove ?</h4>
       <p> If so, please select columns you would like to remove </p>

       {% for column in dataset.columns %}
            <p>
                <input type="checkbox" name=delete value="{{column}}">
                <label> {{column}} </label>
            </p>
       {% endfor %}

       {% if has_null == True %}
            <h4> How would you like to treat null values ? </h4>
                Remove rows that contain null values
                <label class="container">
                    <input type="radio" name=treat_null value="remove_rows" checked>
                    <span class="checkmark"></span>
                </label>
                Interpolate
                <label class="container">
                    <input type="radio" name=treat_null value="interpolate">
                    <span class="checkmark"></span>
                </label> <br> <br>

       {% endif %}

        <!-- if model type is supervised, we ask to select target -->
        {% if type_model == "supervised_ML" %}

        <h4> Please pick target variable </h4>
        <p> Please note that if target contains at least one value which is unique, "stratify" in train/ test split won't work </p>
           <select class="btn btn-secondary dropdown-toggle" name="target" required>
                {% for column in dataset.columns %}
                     <option value="{{column}}">{{column}}</option>
                {% endfor %}
           </select>
        {% endif %}

        {% if type_model == "unsupervised_ML" %}
         <h4> Please pick two features to show on cluster graphs </h4>
            <p>
                <label> Please pick feature for X_axis </label>
                <select class="btn btn-secondary dropdown-toggle" name="X_axis" required>
                {% for column in dataset.columns %}
                     <option value="{{column}}">{{column}}</option>
                {% endfor %}
                </select>
            </p>
            <p>
                <label> Please pick feature for y_axis </label>
                <select class="btn btn-secondary dropdown-toggle" name="y_axis" required>
                {% for column in dataset.columns %}
                     <option value="{{column}}">{{column}}</option>
                {% endfor %}
                </select>
            </p>
        {% endif %}

        <h4> What model would you like to apply? </h4>

           <select class="btn btn-secondary dropdown-toggle" name="model" required>
                {% for column in dic_models.keys() %}
                <option value="{{column}}">{{column}}</option>
                {% endfor %}
           </select>

           <p> <input class="btn btn-info" type="submit" value="Validate Selection"> </p>
    </form>
{% endblock form %}

