{% extends "layout_visualisation.html" %}

{% block form %}

    {% if has_null == True %}
        Your dataset contains null values. You cannot keep NaN values when using Machine learning algorithms. Here are the details :
        {% for column in detail_null[detail_null >0].index %}
            <p> {{column}} has {{detail_null[column]}} null values</p>
        {% endfor %}

    {% endif %}
    <h4> Are there any columns you'd like to remove ?</h4>
    <p> If so, please select columns you would like to remove </p>

    {% for column in dataset.columns %}
        <p>
            <label> {{column}} </label>
            <input type="checkbox" name=delete value={{column}}>
        </p>
    {% endfor %}

    <h4> How would you like to treat null values ?</h4>
            <label> Remove rows that contain null values </label>
            <input type="radio" name=treat_null value="remove_rows" checked>
            <label> Interpolate </label>
            <input type="radio" name=treat_null value="interpolate">

    <h4> Please pick target variable </h4>

       <select name="target" required>
            {% for column in dataset.columns %}
            <option value="{{column}}">{{column}}</option>
            {% endfor %}
       </select>

    <h4> What model would you like to apply? </h4>

       <select name="model" required>
            {% for column in dic_models.keys() %}
            <option value="{{column}}">{{column}}</option>
            {% endfor %}
       </select>

{% endblock form %}

