<form method="post" action={{request.path}} enctype="multipart/form-data">
    <label for="dataset"> Choose a csv file: </label>
    <input type="file" id="dataset" name="csv_file" accept=".csv">
    <input type="submit" name = "upload" value="Upload file">
</form>



<form method="post" action={{request.path}} t>
    <select name="cars">
          <option value="colonne1">Colonne1</option>
          <option value="colonne2">Colonne2</option>
    </select>
    <input type="submit" name = "choose" value="affiche_input">
</form>


{{var}}