{% extends "layout_visualisation.html" %}

        {% block form %}
            <form method="post" action={{request.path}} enctype="multipart/form-data">
                <h4> Please pick the type of graphs you would like to show </h4>
                {% for column in dataset.columns %}

                <!-- We want to prevent the user to use Distplot which won't work on non numeric variables -->
                {% if is_numeric(dataset[column]) == false %}
                    {% set disabled = "disabled" %}
                {% else %}
                    {% set disabled = "" %}
                {% endif %}

                <p>
                    <input type="radio" name="{{column}}" value="none" checked>
                    <label for="None">None </label>
                    <input type="radio" name="{{column}}" value="distplot" {{ disabled | safe}} >
                    <label for="Distplot" {{ disabled | safe}} >Distplot</label>
                    <input type="radio" name="{{column}}" value="countplot">
                    <label for="Countplot">Countplot</label>
                    <label> | --  {{column}} - ({{dataset[column].dtype}}) </label>
                </p>
            {% endfor %}
            <p> <input type="submit" value="Validate Selection"> </p>
	        </form>
        {% endblock form %}

        {% block image %}
        <p>  <img src={{url_for("static", filename = "images/graph_univariate.png")}}>  </p>
        {% endblock image %}

        {% block code %}
           {{ code | safe}}
        {% endblock code %}


