{% extends "layout_visualisation.html" %}

        {% block form %}
            <form method="post" action={{request.path}} enctype="multipart/form-data">
                <b> Please pick the type of graphs you would like to show: </b>
                <br>
                <i> <font size="-1">Please note Distplot option is disabled for categorical variables </font> </i>
                <br>
                <br>
                {% for column in dataset.columns %}

                <!-- We want to prevent the user to use Distplot which won't work on non numeric variables -->
                {% if is_numeric(dataset[column]) == false %}
                    {% set disabled = "disabled" %}
                {% else %}
                    {% set disabled = "" %}
                {% endif %}

                <p>
                    <label class="container"> None
                        <input type="radio" name="{{column}}" value="none" checked>
                        <span class="checkmark"></span>
                    </label>
                     <label class="container" {{ disabled | safe}} >
                         Distplot
                        <input type="radio" name="{{column}}" value="distplot" {{ disabled | safe}} >
                        <span class="checkmark"></span>
                     </label>
                    <label class="container">
                        Countplot
                        <input type="radio" name="{{column}}" value="countplot">
                        <span class="checkmark"></span>
                    </label>
                    <label> | --  {{column}} - ({{dataset[column].dtype}}) </label>
                </p>
            {% endfor %}
            <p> <input class="btn btn-info" type="submit" value="Validate Selection"> </p>
	        </form>
        {% endblock form %}

        {% block image %}
        <p>  <img src={{url_for("static", filename = "images/graph_univariate.png")}}>  </p>
        {% endblock image %}

        {% block code %}
           {{ code | safe}}
        {% endblock code %}


