{% extends "base_layout.html" %}

    {% block content %}
        {% if session["file_path"] %}
            <p> The following csv file is currently uploaded : "{{name_file(session["file_path"])}}" </p>
            {{table_head | safe}}
            <p> If you'd like to replace it by a new csv file, please upload a new file using form below </p>
        {% endif %}

        <!-- Form to load a csv file -->
        <form method="post" action={{request.path}} enctype="multipart/form-data">
            <label for="dataset"> Choose a csv file: </label>
            <input type="file" id="dataset" name="csv_file" accept=".csv">
            <p>
            <input type="submit" value="Upload File">
            </p>
        </form>

        <!-- if a file has already been loaded, we show links to the pages to play with the data -->
        {% if session["file_path"] %}
            Else, just pick the section you'd like to go to
            <ul>
                {% for elem in ["univariate", "bivariate"] %}

                    <li> <a href= {{url_for(elem) }}> {{elem}} </a>  </li>

                {% endfor %}
            </ul>
        {% endif %}
    {% endblock content %}